<template>
  <div id="app">
    <header>
      <h1>Shopping List</h1>
    </header>
    <main>
      <form @submit.prevent="addItem">
        <label for="addItem">Add Item:</label>
        <input
          v-model="inputText"
          type="text"
          name="addItem"
          id="addItem"
          placeholder="Enter your item here"
        />
        <button>Submit</button>
      </form>
      <ol class="items">
        <li v-for="item in items" :key="item.id" class="item">{{item.text}}</li>
      </ol>
    </main>
  </div>
</template>

<script>
export default {
  name: 'app',
  components: {},
  data: () => ({
    inputText: '',
    items: [
      {
        id: 1,
        text: 'Do this'
      },
      {
        id: 2,
        text: 'Do that'
      }
    ]
  }),
  methods: {
    addItem () {
      this.items.push({
        text: this.inputText,
        id: this.items.length + 1
      })
      this.inputText = ''
    }
  }
}
</script>

<style>
:root {
  --primary-color: #f71735;
}

#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  margin-top: 60px;
}

header {
  text-align: center;
}

main {
  display: grid;
  grid-template-columns: auto 300px auto;
}
main > * {
  grid-column: 2;
}

form,
input {
  border: 1px solid var(--primary-color);
  border-radius: 5px;
  padding: 10px;
}

form {
  display: grid;
}

input {
  display: block;
  font-size: 16px;
}

input:focus {
  outline: none;
  background: #ebedea;
}

button {
  background: var(--primary-color);
  color: white;
  font-size: 20px;
  border-radius: 5px;
  margin: 10px 0 0 0;
  transition: box-shadow 0.2s;
  border: none;
  height: 40px;
  color: white;
}

button:hover {
  cursor: pointer;
}

button:focus {
  outline: none;
}
</style>
